{{ define "main" }}
<div class="row">
<div class="col-md-8">
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

          <header class="post-header">
            <h1 class="post-title" itemprop="name headline">{{ .Title }}</h1>
            <p class="post-meta"><time datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}' itemprop="datePublished">{{ .Date.Format "2006/01/02" }}</time>{{ with .Params.Author }} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ . }}</span></span>{{ end }}</p>
            <p>{{ .Params.Author }}</p>
          </header>

          <div class="post-content" itemprop="articleBody">
            {{ .Content }}
          </div>

    </article>

    {{ if .Params.authors }}
    <div class="row authors">
        {{- range .Params.authors }}
        {{- with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}
        <div class="col-sm-2">
            <div class="author-photo">
                <img src="{{ .Params.photo }}">
            </div>
        </div>
        <div class="col-sm-10">
            <h4>{{ .Params.name }}</h4>
            {{ .Content }}
        </div>
        {{ end }}
        {{ end }}
    </div>
    {{ end }}

    <div class="row">
        {{ if .Site.Params.disqus }}
         {{ partial "disqus.html" . }}
        {{ end }}
    </div>
    
    <div class="row">
            <ul class="pager">
             {{ with .Next }}
                    <li><a class="next" href="{{ .URL }}">&laquo; {{ .Title }}</a></li>
              {{ end }}
              {{ with .Prev }}
                <li><a class="previous" href="{{ .URL }}">{{ .Title }} &raquo;</a></li>
              {{ end }}
            </ul>
    </div>
    
</div>


{{ partial "sidebar.html" . }}

</div>


{{ partial "fb-script.html" . }}
{{ end }}